@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #151617;
}

@theme inline {
  --font-primary: var(--font-fira-sans);
  --font-secondary: var(--font-merriweather);
  --font-tertiary: var(--font-bokor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
